.contato {
    background: #EAF2FD;
    margin: 0 auto;
    padding-bottom: 3rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40rem;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.contato__paragrafo {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.formulario {
    border-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}


.formulario__container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.formulario__legenda {
    font-weight: 700;
    font-size: 0.8125rem;
    margin-bottom: 0.5rem;
    padding: 3px;
    text-align: start;
}

.formulario__input {
    background: #DFDADA;
    border-radius: 6px;
    border: none;
    color: black;
    font-size: 1rem;
    height: 41px;
    padding: 7px;
    margin-bottom: 1rem;
    width: 100%;
}

.formulario__input-mensagem {
    background: #DFDADA;
    border-radius: 6px;
    border: none;
    color: black;
    font-size: 1rem;
    height: 120px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    vertical-align: top;
    width: 100%;
}

.formulario__botao {
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    height: 37px;
    width: 130px;
}

@media screen and (max-width:1440px){
    .formulario {
        width: 50%;
    }

    .formulario__input {
        height: 40px;
    }

    .contato{
        margin-top: 25rem;
    }
}

@media screen and (max-width:1024px){
    .formulario {
        width: 70%;
    }

    .formulario__input {
        height: 40px;
    }

    .contato{
        margin-top: 25rem;
    }
}

@media screen and (max-width:960px){
    .formulario__botao{
        margin: 0 auto;
    }

    .contato{
        margin-top: 25rem;
    }
}

@media screen and (max-width:425px) {
    .formulario {
        width: 100%;
    }

    .contato{
        margin-top: 20rem;
    }
}