body{
    background-color: #F5F5F5;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    color: #464646;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.introdução_principal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

* {
    box-sizing: border-box;
}

.introdução{
    width: 75%;
}


.introdução_titulo{
    font-weight: bold;
    font-size: 3.1rem;
}

.introdução_descrição{
    font-size: 1.6rem;
    margin-top: 2rem;
}

.introdução_lista{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0 auto;
}

.introdução_item{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.introdução_link{
    color: #464646;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.introdução_link:hover {
    color: var(--preto-hover);
    text-decoration: underline;
}

.introducao__seta {
    display: inline-block;
    background: url(../image/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-left: 0.4rem;
}

.introdução_foto{
    background: url(../image/IMG_20220331_223459_836.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 23rem;
    height: 23rem;
    border-radius: 12rem;
    margin-left: 2rem;
}

@media screen and (max-width:960px) {
    .introdução_principal{
        height: auto;
        padding-bottom: 1rem;
    }
    
    .introdução_titulo{
        font-size: 1.375rem;
    }

    .introdução_descrição{
        font-size: 1rem;
    }
    .introdução_foto{
        height: 140px;
        left: 0;
        position: relative;
        top: -20px;
        width: 180px;
    }
}

@media screen and (max-width:1024px){
    .introdução_foto{
        width: 150px;
        height: 150px;
        
    }

}

@media screen and (max-width:687px) {
    .introdução_principal{
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }

    .introdução{
        order: 1;
        width: 100%;
    }

    .introdução_foto{
        order: -1;
        width: 130px;
        height: 130px;
    }
    
    .introdução_descrição{
        font-size: 0.875rem;
    }

    .introdução_link{
        font-size: 0.875rem;
        font-weight: 600;
    }
    
    .introdução_item{
        margin-right: 0.375rem;
    }
}