.projeto {
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5rem;
    margin-bottom: 6rem;
}


.titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}

.projeto_item {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40vh;
    justify-content: space-around;
    margin: 0 auto 9vh auto;
    width: 100%;
}

.projeto_item:nth-child(odd) {
    flex-direction: row-reverse;
}

.projeto_imagem-decodificador {
    background: url(../image/Captura\ de\ tela\ -\ Descriptor.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0 2rem;
    width: 55%;
    margin-left: 5rem;
    margin-right: 5rem;
}
.projeto_imagem-conversor {
    background: url(../image/Captura\ de\ tela-\ conversor\ -gimp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0 2rem;
    width: 55%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.projeto_corpo {
    align-items: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 35vh;
    margin-left: 15rem;
    margin-right: 15rem;
}



.projeto_titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.projeto_descricao {
    font-size: 1rem;
    font-weight: 500;
}

.projeto_botao {
    display: flex;
    gap: 1rem;
}

.projeto_botao_repositorio {
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    padding: 1rem;
    text-decoration: none;
}

.projeto_botao_page {
    background-color: #2A7AE4;
    border: none;
    color: white;
    padding: 1rem;
    text-decoration: none;
}


.projeto_imagem-forca {
    background: url(../image/Captura\ de\ Tela\ -\ Jogo\ da\ forca.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0 2rem;
    width: 55%;
    margin-left: 5rem;
    margin-right: 5rem;
}


@media screen and (max-width:1421px){
    .projeto{
        margin-bottom: 1rem;   
    }

    .titulo{
        font-size: 1rem;
    }

    .projeto_descricao{
        font-size: 0.875rem;
    }

    .projeto_botao{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    
    .projeto_item{
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto_item:nth-child(odd){
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto_imagem-decodificador{
        width: 100%;
    }

    .projeto_imagem-forca{
        width: 100%;
    }

    .projeto_corpo{
        width: 100%;
        align-items: center;
    }

    .projeto_imagem-conversor{
        width: 100%;
    }
    
}


@media screen and (max-width:1024px){
    .projeto{
        margin-bottom: 5rem;
    }
    
    .projeto_botao{
        flex-direction: row;
    }

    .projeto_item{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .projeto_item:nth-child(odd){
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto_imagem-decodificador{
        width: 100%;
    }

    .projeto_imagem-forca{
        width: 100%;
    }
    .projeto_imagem-conversor{
        width: 100%;
    }


    .projeto_corpo{
        width: 100%;
        align-items: center;
    }

}


@media screen and (max-width:425px){
    .projeto{
        margin-bottom: 0;
    }
    
    .projeto_item{
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto_item:nth-child(odd){
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto_imagem-decodificador{
        width: 100%;
    }

    .projeto_imagem-forca{
        width: 100%;
    }

    .projeto_corpo{
        width: 100%;
    }

    .projeto_imagem-conversor{
        width: 100%;
    }
}